.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}

	ul#horizontal-list li {
	display: inline;
}

.context-txt{
	width: 50%;
	background-color: aqua;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 2px solid black;
	padding: 5px;
}

input{
	background-color: grey;
	border: 1px solid black;
}

fieldset{
	background-color: lightblue;
}

.borrar-datos{
	margin-left: 70px;
}

.textarea{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 2px solid black;
}

legend{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
}

.large-label {
	display: inline-block;
	font: bold 1.5rem sans-serif;
	margin-bottom: 0.5rem;
  }

.small-label {
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.25rem;
	margin-right: 1.5rem;
	font: 1.25rem sans-serif;
}
  
.products_text_container{
	margin-top: 80px;
} 

.zipmain_content{
	margin-top: 50px;
	padding-top: 30px;
}

.envia_efecto:hover{
	transform:translate(2px,2px);
}


.main_content{
	background-color:grey;
	width: 90%; 
	border: black solid 2px;
	font-size: 1rem;
	text-align: left;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 5px;
}

.texto_contextual{
	background-color:rgb(33, 153, 228);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 2px solid black;
	padding: 5px;
}

.column {
	flex: 50%;
	padding: 0 4px;
 }
 .column img {
	margin-top: 8px;
	vertical-align: middle;
  }


.ziplegend{
	margin-top: 0;
}

.img_erp {
	width: 100%;
}







