@import "head","foot";

formulario {
    margin-top: 60px;
	width: 70%;
    label{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
    }
}

$titulo-bkg-color: radial-gradient(ellipse,  aqua, white, lightgrey);

titulo-productos{
	/* background-color: aqua; */
	background: $titulo-bkg-color;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-family: 'Signika Negative', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid 1px black;
	margin: 5px;
}

/*  clientes / carousel  inicio */

.clie-title{
	text-align: center;
	
}

.container-clientes{
	width:540px;
	margin:40px auto;
	overflow:auto;
	background-color: #212529;
}


.slider-inner{
	width:500px;
	height:300px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}


/*  clientes / carousel fin */

